<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<div class="container mt-5">
  <h3>Create Your Password</h3>
  <form action="/auth/create-password" method="POST">
    <input type="hidden" name="mobile" value="<%= mobile %>">
    <div class="mb-3">
      <label for="password" class="form-label">New Password</label>
      <input type="password" name="password" id="password" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-success">Create & Login</button>
  </form>
</div>

<%- include('../partials/footer') %>
