<li class="nav-item dropdown">
  <a
    class="nav-link dropdown-toggle"
    href="#"
    role="button"
    data-bs-toggle="dropdown"
  >
    📂 Explore Directory
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="/explore">📋 View Directory</a></li>
    <hr class="menu-divider" />
    <li>
      <a class="dropdown-item" href="/explore/word/form"
        >📩 Export to Word File</a
      >
    </li>
    <hr class="menu-divider">
    <li>
      <a class="dropdown-item" href="/explore/summary/view"
        >🔽 View/Export Summary Count</a
      >
    </li>
  </ul>
</li>
