<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
      📒 Program
    </a>
    <ul class="dropdown-menu">
           
      <% if (!user.roles.includes('Shishak') && !user.roles.includes('Karyakarta') && !user.roles.includes('Saadhak')) { %>
        <li><a class="dropdown-item" href="/programs/create">📋 Create Program</a></li>
       <hr class="menu-divider">
        <li><a class="dropdown-item" href="/programs">📋 View Created Programs</a></li>
       <hr class="menu-divider">
      <% } %>

      <li><a class="dropdown-item" href="/programs/available">📋 Join Program</a></li>
          
    </ul>
</li>