 <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
      🌠 Wishes
    </a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/wishes/morning">🌅 Good Morning</a></li>
      <li> <a class="dropdown-item" href="/wishes/night">🌙 Good Night</a></li>
     
    </ul>
</li>