<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<div class="container mt-4">
  <h3 class="mb-4 text-danger fw-bold"><i class="bi bi-pencil"></i> Edit Program</h3>
  <%- include('form', {
  formAction: '/programs/edit/' + program._id,
  program: program,
  buttonText: 'Save Changes',
  user: user,
  prants: prants,
  zilas: zilas,
  ksheters: ksheters,
  kenders: kenders,
  adminRoles: adminRoles,
  prantRoles: prantRoles,
  zilaRoles: zilaRoles,
  ksheterRoles: ksheterRoles,
  kenderRoles: kenderRoles
}) %>

</div>

<%- include('../partials/footer') %>
