<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<main class="p-4 text-center">
  <h1>Welcome to Phagwara Yog Zila</h1>
  <p>Dedicated to Bhartiya Yog Sansthan</p>
</main>

<%- include('../partials/footer') %>
